* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
html {
  background-color: #fafafc;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html a {
  color: black;
}
html body {
  max-width: 540px;
  min-width: 320px;
  margin: 0 auto;
  overflow-y: auto;
  background-color: white;
}
html body .wrap {
  background-color: #FAFAFE;
}
html body .wrap .searchbox {
  position: fixed;
  height: 44px;
  width: 100%;
  max-width: 540px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  box-sizing: border-box;
  z-index: 999;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}
html body .wrap .searchbox > div {
  height: 28px;
  line-height: 28px;
  border-radius: 15px;
  flex: 1;
  background-color: white;
  position: relative;
  color: #666666;
}
html body .wrap .searchbox > div span {
  padding-left: 35px;
}
html body .wrap .searchbox > div span::after {
  content: '';
  position: absolute;
  left: 0px;
  background: url('../img/home-common-sprite2x@v7.15.png') 15px 7px no-repeat;
  width: 35px;
  height: 100%;
  background-size: 21px auto;
  display: inline-block;
}
html body .wrap .searchbox > a {
  width: 51px;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
html body .wrap .searchbox > a span::before {
  content: "";
  background: url('../img/home-common-sprite2x@v7.15.png') 1px -36px no-repeat;
  width: 22px;
  height: 22px;
  background-size: 21px auto;
  display: block;
}
html body .wrap .search-index-fixed > div {
  background-color: #ececed;
}
html body .wrap .search-index-fixed > a {
  color: black;
}
html body .wrap .search-index-fixed > a span::before {
  content: "";
  background: url('../img/home-common-sprite2x@v7.15.png') 1px -76px no-repeat;
  background-size: 21px auto;
}
html body .wrap .swiper {
  width: 100%;
  height: 198px;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  overflow: hidden;
}
html body .wrap .swiper img {
  width: 100%;
  height: 100%;
}
html body .wrap .nav {
  box-sizing: border-box;
  padding: 0px 12px 0px 12px;
  margin: -35px 0px 0px 0px;
  height: 64px;
  position: relative;
  z-index: 2;
}
html body .wrap .nav ul {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
}
html body .wrap .nav ul li {
  text-align: center;
  height: 64px;
}
html body .wrap .nav ul li a {
  color: black;
}
html body .wrap .nav ul li .navimg {
  display: block;
  height: 40px;
  width: 40px;
  background: url('../img/home-fivemain-sprite2x@v7.15.png') 0px 0px no-repeat;
  background-size: 40px auto;
  margin: 0 auto;
}
html body .wrap .nav ul li .navimg_2 {
  background: url('../img/home-fivemain-sprite2x@v7.15.png') 0px -40px no-repeat;
  background-size: 40px auto;
}
html body .wrap .nav ul li .navimg_3 {
  background: url('../img/home-fivemain-sprite2x@v7.15.png') 0px -80px no-repeat;
  background-size: 40px auto;
}
html body .wrap .nav ul li .navimg_4 {
  background: url('../img/home-fivemain-sprite2x@v7.15.png') 0px -120px no-repeat;
  background-size: 40px auto;
}
html body .wrap .nav ul li .navimg_5 {
  background: url('../img/home-fivemain-sprite2x@v7.15.png') 0px -160px no-repeat;
  background-size: 40px auto;
}
html body .wrap .gridnav {
  font-size: 14px;
  box-sizing: border-box;
  padding: 10px 12px 0px 12px;
  background-color: #FAFAFE;
}
html body .wrap .gridnav .hotel {
  height: 65px;
  background-color: orange;
  background-image: linear-gradient(to right, #fa5956, #fb8650 54%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  border-bottom: 1px solid white;
}
html body .wrap .gridnav .hotel a:nth-of-type(1) {
  width: 31%;
  height: inherit;
  color: white;
  border-right: 1px solid white;
  display: flex;
  align-items: center;
  background: url('../img/grid-nav-items-hotel@v7.15.png') right bottom no-repeat;
  background-size: auto 50%;
}
html body .wrap .gridnav .hotel a:nth-of-type(1) span {
  margin-left: 30px;
}
html body .wrap .gridnav .hotel a:nth-of-type(2) {
  width: 23%;
  height: inherit;
  border-right: 1px solid white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url('../img/grid-nav-items-minsu@v7.15.png') right bottom no-repeat;
  background-size: auto 50%;
}
html body .wrap .gridnav .hotel a:nth-of-type(3) {
  width: 46%;
  height: inherit;
  color: #a05416;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/grid-nav-items-jhj@v7.15.png') right bottom no-repeat;
  background-size: auto 50%;
}
html body .wrap .gridnav .airport {
  height: 65px;
  background-image: linear-gradient(to right, #4b8fed, #53bced);
  display: flex;
  border-bottom: 1px solid white;
}
html body .wrap .gridnav .airport a:nth-of-type(1) {
  width: 31%;
  height: inherit;
  border-right: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/grid-nav-items-flight@v7.15.png') right bottom no-repeat;
  background-size: auto 50%;
}
html body .wrap .gridnav .airport a:nth-of-type(2) {
  width: 23%;
  height: inherit;
  border-right: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .wrap .gridnav .airport a:nth-of-type(3) {
  width: 23%;
  height: inherit;
  border-right: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .wrap .gridnav .airport a:nth-of-type(4) {
  width: 23%;
  height: inherit;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .wrap .gridnav .travel {
  height: 65px;
  background-image: linear-gradient(to right, #34c2aa, #6cd557);
  display: flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
html body .wrap .gridnav .travel a:nth-of-type(1) {
  width: 31%;
  height: inherit;
  border-right: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/grid-nav-items-travel@v7.15.png') right bottom no-repeat;
  background-size: auto 50%;
}
html body .wrap .gridnav .travel a:nth-of-type(2) {
  width: 23%;
  height: inherit;
  border-right: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/grid-nav-items-dingzhi@v7.15.png') right bottom no-repeat;
  background-size: auto 50%;
}
html body .wrap .gridnav .travel a:nth-of-type(3) {
  width: 23%;
  height: inherit;
  border-right: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .wrap .gridnav .travel a:nth-of-type(4) {
  width: 23%;
  height: inherit;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .wrap .subnav {
  display: flex;
  flex-wrap: wrap;
  padding: 6px 12px 10px 12px;
  box-sizing: border-box;
  background-color: #FAFAFE;
}
html body .wrap .subnav li {
  height: 56px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .wrap .subnav li a {
  color: black;
  text-align: center;
}
html body .wrap .subnav li a .subimg {
  width: 28px;
  height: 28px;
  display: block;
  background: url('../img/un_ico_subnav2x@v7.152.png') 0 0 no-repeat;
  background-size: cover;
  margin: 0 auto;
}
html body .wrap .subnav li a .phonecard {
  background: url('../img/un_ico_subnav2x@v7.152.png') 0 -28px no-repeat;
  background-size: cover;
}
html body .wrap .subnav li a .visas {
  background: url('../img/un_ico_subnav2x@v7.152.png') 0 -56px no-repeat;
  background-size: cover;
}
html body .wrap .subnav li a .shapping {
  background: url('../img/un_ico_subnav2x@v7.152.png') 0 -84px no-repeat;
  background-size: cover;
}
html body .wrap .subnav li a .guide {
  background: url('../img/un_ico_subnav2x@v7.152.png') 0 -112px no-repeat;
  background-size: cover;
}
html body .wrap .subnav li a .airticket {
  background: url('../img/un_ico_subnav2x@v7.152.png') 0 -140px no-repeat;
  background-size: cover;
}
html body .wrap .subnav li a .card {
  background: url('../img/un_ico_subnav2x@v7.152.png') 0 -168px no-repeat;
  background-size: cover;
}
html body .wrap .subnav li a .lendmoney {
  background: url('../img/un_ico_subnav2x@v7.152.png') 0 -196px no-repeat;
  background-size: cover;
}
html body .wrap .subnav li a .photo {
  background: url('../img/un_ico_subnav2x@v7.152.png') 0 -224px no-repeat;
  background-size: cover;
}
html body .wrap .subnav li a .more {
  background: url('../img/un_ico_subnav2x@v7.152.png') 0 -252px no-repeat;
  background-size: cover;
}
html body .wrap .salebox {
  background-color: white;
  color: #ff3333;
  padding: 0px 8px 12px 8px;
  box-sizing: border-box;
  border-top: 2px solid #dbdbdb;
  border-bottom: 2px solid #dbdbdb;
}
html body .wrap .salebox .salecnt {
  height: 205px;
  display: flex;
}
html body .wrap .salebox .salecnt li:nth-of-type(1) {
  flex: 1;
  margin-right: 5px;
}
html body .wrap .salebox .salecnt li:nth-of-type(1) a {
  display: block;
  height: 205px;
  width: 100%;
  background-color: #f9f9f9;
  position: relative;
}
html body .wrap .salebox .salecnt li:nth-of-type(1) a .hotsale {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  line-height: 20px;
  color: white;
  background-color: #fd3a51;
  text-align: center;
  padding: 0px 6px 0px 8px;
}
html body .wrap .salebox .salecnt li:nth-of-type(1) a .hotsale:after {
  position: absolute;
  content: '';
  top: 0;
  right: -8px;
  border-width: 20px 8px;
  border-style: solid;
  border-color: #fd3a51 transparent transparent;
  display: block;
}
html body .wrap .salebox .salecnt li:nth-of-type(1) a img {
  height: 117px;
  width: 100%;
  background-size: 100% 100%;
}
html body .wrap .salebox .salecnt li:nth-of-type(1) a .tit {
  font-size: 14px;
  padding: 8px 8px 0px 8px;
  line-height: 22px;
}
html body .wrap .salebox .salecnt li:nth-of-type(1) a .price {
  font-size: 16px;
  line-height: 24px;
  color: red;
  padding: 0px 8px 0px 8px;
}
html body .wrap .salebox .salecnt li:nth-of-type(1) a .price s {
  font-size: 12px;
}
html body .wrap .salebox .salecnt li:nth-of-type(1) a .price span {
  font-size: 16px;
}
html body .wrap .salebox .salecnt li:nth-of-type(2) {
  flex: 1;
}
html body .wrap .salebox .salecnt li:nth-of-type(2) div:nth-of-type(1) {
  width: 100%;
  margin-bottom: 5px;
}
html body .wrap .salebox .salecnt li:nth-of-type(2) div:nth-of-type(1) a {
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 88px;
  padding: 0px 11px 0px 8px;
  box-sizing: border-box;
}
html body .wrap .salebox .salecnt li:nth-of-type(2) div:nth-of-type(1) a dl dt {
  color: red;
}
html body .wrap .salebox .salecnt li:nth-of-type(2) div:nth-of-type(1) a img {
  width: auto;
  height: 60%;
}
html body .wrap .salebox .salecnt li:nth-of-type(2) div:nth-of-type(2) {
  width: 100%;
  display: flex;
}
html body .wrap .salebox .salecnt li:nth-of-type(2) div:nth-of-type(2) a {
  padding: 12px 0px 10px 0px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  flex: 1;
  height: 113px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  max-width: 50%;
  text-align: center;
}
html body .wrap .salebox .salecnt li:nth-of-type(2) div:nth-of-type(2) a img {
  width: 48px;
  height: 48px;
  margin: 0 auto;
}
html body .wrap .salebox .salecnt li:nth-of-type(2) div:nth-of-type(2) a:nth-of-type(1) {
  margin-right: 5px;
}
html body .wrap .salebox .salecnt li:nth-of-type(2) div:nth-of-type(2) a:nth-of-type(1) dl dt {
  width: 100%;
  color: #6aabff;
}
html body .wrap .salebox .salecnt li:nth-of-type(2) div:nth-of-type(2) a:nth-of-type(2) dl dt {
  color: #6aabff;
}
html body .wrap .hotbox {
  color: #ff9900;
  padding: 0px 0px 12px 0px;
  box-sizing: border-box;
  border-top: 2px solid #dbdbdb;
  margin-top: 6px;
}
html body .wrap .hotbox .hothd {
  border-bottom: 2px solid #dbdbdb;
  padding: 0px 8px 0px 8px;
}
html body .wrap .hotbox .hothd img {
  height: 15px;
  margin-left: 10px;
  vertical-align: middle;
}
html body .wrap .hotbox li {
  width: 100%;
  display: flex;
  margin-bottom: 1px;
}
html body .wrap .hotbox li a {
  background-color: white;
  flex: 1;
}
html body .wrap .hotbox li a img {
  width: 100%;
  height: 100%;
}
html body .wrap .hotbox li a:first-child {
  margin-right: 1px;
}
html body .wrap .footer ul {
  background-color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .wrap .footer ul li {
  flex: 1;
  text-align: center;
}
html body .wrap .footer ul li a i {
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 auto;
}
html body .wrap .footer .copyright {
  height: 60px;
  line-height: 30px;
  padding: 9px 0px 11px 0px;
  box-sizing: border-box;
}
html body .wrap .footer .copyright div {
  display: flex;
  justify-content: center;
}
html body .wrap .footer .copyright div a {
  line-height: 18px;
  border-right: 1px solid #999;
  padding: 0px 10px 0px 10px;
}
html body .wrap .footer .copyright div a:last-child {
  border-right: none;
}
html body .wrap .footer .copyright p {
  text-align: center;
  color: #999;
}
html .salehd,
html .hothd {
  background-color: white;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html .salehd span:nth-of-type(1),
html .hothd span:nth-of-type(1) {
  font-weight: bold;
  line-height: 44px;
  font-size: 14px;
}
html .salehd span:nth-of-type(2),
html .hothd span:nth-of-type(2) {
  height: 20px;
  padding: 0px 12px 0px 12px;
  border-radius: 10px;
  color: white;
  background-color: tomato;
  text-align: center;
  line-height: 20px;
}
html dl {
  font-size: 12px;
  color: black;
}
html dl dt {
  font-size: 14px;
}
@font-face {
  font-family: 'iconfont';
  /* project id 1560007 */
  src: url('//at.alicdn.com/t/font_1560007_idoxhini1e.eot');
  src: url('//at.alicdn.com/t/font_1560007_idoxhini1e.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1560007_idoxhini1e.woff2') format('woff2'), url('//at.alicdn.com/t/font_1560007_idoxhini1e.woff') format('woff'), url('//at.alicdn.com/t/font_1560007_idoxhini1e.ttf') format('truetype'), url('//at.alicdn.com/t/font_1560007_idoxhini1e.svg#iconfont') format('svg');
}
.icon-gengduo {
  font-size: 12px;
  text-align: center;
  margin-left: -3px;
}
.swiper-pagination {
  text-align: right;
}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 70px;
  right: 0;
}
